{{ define "main" }}

<div id="layout" class="pure-g">
<article class="pure-u-1">

{{ partial "nav.html" . }}
{{ partial "content.header.html" . }}

<section class="list-page">
{{ range .Data.Pages.GroupByDate "2006" }}
  <ul>
    {{ range .Pages.GroupByDate "January" }}
    <ul>
      {{ range .Pages }}
          <li>
              <a href="{{ .RelPermalink }}">{{.Title}}</a>
              <br>
              <span class="list-date">{{ .Date | time.Format ":date_medium"}}</span>
                <hr />
          </li>
      {{ end }}
    </ul>
    {{ end }}
  </ul>
  {{ end }}
</section>

</article>
</div>

{{ end }}
