/* Override and customize tufte styling here */

.author, .date {
  color: #d32f2f;
}

/* removes italics on h2 */
h2 {
    font-style: normal;
}

/* === SHORTCODES === */

/* >>>>>SIDENOTE<<<<< */
.sidenote-number {
    vertical-align: super;
}

/* note indicator */
label.marginnote-ind,
label.sidenote-number {
    font-size: 0.8rem;
}

/* inside sidenote */
span.marginnote-ind,
span.sidenote-number {
    font-size: 0.8rem;
}
/* <<<<<SIDENOTE<<<<< */


